body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: white;
    padding: 3rem 3rem;
    }

    section{
        background-image: url(./bg-pattern-top-desktop.svg);
        min-height: 100%;
        background-repeat: no-repeat;
    }
      .container{
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }
    .heading{
        max-width: 80%;
        margin: 0 auto 80px auto;
        flex-basis: 50%;
    }
    .top-layer{
        position: relative;
        top: 50px;
        display: flex;
        justify-content: space-between;
    }
    h1{
        font-weight: 700;
        color: hsl(300, 43%, 22%);
        font-size: 50px;
    }

    p{
        color: hsl(303, 10%, 53%);
        line-height: 200%;
    }

.reviews{
    margin-top: 3rem;
    flex-basis: 40%;
    margin-left:5rem;
}

    .rating{
    background-color:  hsl(300, 24%, 96%);
    padding: 20px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    }
  
.img-star p{
    display: inline;
}

.img-star{
    margin-left: 30px;
}

    .ratings-1{
        right: 90px;

    }

    .ratings-2{
        right: 50px;
    }

    .ratings-3{
        right: 0px;
    }

    .rating p{
        font-weight: bold;
        margin-left: 15px;
        color:  hsl(300, 43%, 22%);
    }
    /* bottom layer */
    .bottom-layer{
        display: flex;
        position: relative;
        top: 0px;
        bottom: 50px;
   }

   .card{
    background-color:  hsl(300, 43%, 22%);
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    position: relative;
   }

   .card_2{
    top: 15px;
    margin-left: 15px;
    margin-right: 15px;
   }

   .card_3{
    top: 30px;
   }

   .card-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    line-height: 150%;
   }

   .card-info .info{
    margin-left: 20px;
    line-height: 150%;
   }

   .card-info .info h2{
    color: white;
    font-size: 15px;
   }

   .card-info .info p{
    color: hsl(333, 80%, 67%);
   }

   .card q p{
    color:  hsl(0, 0%, 100%);
    display: inline;
    font-size: 14px;
   }

   .card img{
    border-radius: 50%;
    width: 50px;
   }

   .card .card-content{
    margin-bottom: 20px;
   }

   q{
    color: white;
   }


   @media screen and @media only screen 
   and (min-device-width : 375px) 
   and (max-device-width : 667px) {
     
   }

   /* iPhone 6 in landscape */
   @media only screen 
   and (min-device-width : 375px) 
   and (max-device-width : 667px) 
   and (orientation : landscape) {
     
   }

   /* iPhone 6 in portrait */
   @media only screen 
   and (min-device-width : 375px) 
   and (max-device-width : 667px) 
   and (orientation : portrait) {
     
   }

   /* iPhone 6 Plus in portrait & landscape */
   @media only screen 
   and (min-device-width : 414px) 
   and (max-device-width : 736px) {
     
   }

   /* iPhone 6 Plus in landscape */
   @media only screen 
   and (min-device-width : 414px) 
   and (max-device-width : 736px) 
   and (orientation : landscape) {
     
   }

   /* iPhone 6 Plus in portrait */
   @media only screen 
   and (min-device-width : 414px) 
   and (max-device-width : 736px) 
   and (orientation : portrait) {
     
   }

   /* iPhone 5 & 5S in portrait & landscape */
   @media only screen 
   and (min-device-width : 320px) 
   and (max-device-width : 568px) {
     
   }

   /* iPhone 5 & 5S in landscape */
   @media only screen 
   and (min-device-width : 320px) 
   and (max-device-width : 568px) 
   and (orientation : landscape) {
     
   }

   /* iPhone 5 & 5S in portrait */
   @media only screen 
   and (min-device-width : 320px) 
   and (max-device-width : 568px) 
   and (orientation : portrait) {
     
   }

   /* 
     iPhone 2G, 3G, 4, 4S Media Queries
     It's noteworthy that these media queries are also the same for iPod Touch generations 1-4.
   */

   /* iPhone 2G-4S in portrait & landscape */
   @media only screen 
   and (min-device-width : 320px) 
   and (max-device-width : 480px) {
     
   }

   /* iPhone 2G-4S in landscape */
   @media only screen 
   and (min-device-width : 320px) 
   and (max-device-width : 480px) 
   and (orientation : landscape) {
     
   }

   /* iPhone 2G-4S in portrait */
   @media only screen 
   and (min-device-width : 320px) 
   and (max-device-width : 480px) 
   and (orientation : portrait) {
     
   }

   /* iPad in portrait & landscape */
   @media only screen 
   and (min-device-width : 768px) 
   and (max-device-width : 1024px)  {
     
   }

   /* iPad in landscape */
   @media only screen 
   and (min-device-width : 768px) 
   and (max-device-width : 1024px) 
   and (orientation : landscape) {
     
   }

   /* iPad in portrait */
   @media only screen 
   and (min-device-width : 768px) 
   and (max-device-width : 1024px) 
   and (orientation : portrait) {
     
   }

   /* Galaxy S3 portrait and landscape */
   @media screen 
     and (device-width: 320px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 2) {

   }

   /* Galaxy S3 portrait */
   @media screen 
     and (device-width: 320px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 2) 
     and (orientation: portrait) {

   }

   /* Galaxy S3 landscape */
   @media screen 
     and (device-width: 320px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 2) 
     and (orientation: landscape) {

   }

   /* Galaxy S4 portrait and landscape */
   @media screen 
     and (device-width: 320px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 3) {

   }

   /* Galaxy S4 portrait */
   @media screen 
     and (device-width: 320px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 3) 
     and (orientation: portrait) {

   }

   /* Galaxy S4 landscape */
   @media screen 
     and (device-width: 320px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 3) 
     and (orientation: landscape) {

   }

   /* Galaxy S5 portrait and landscape */
   @media screen 
     and (device-width: 360px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 3) {

   }

   /* Galaxy S5 portrait */
   @media screen 
     and (device-width: 360px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 3) 
     and (orientation: portrait) {

   }

   /* Galaxy S5 landscape */
   @media screen 
     and (device-width: 360px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 3) 
     and (orientation: landscape) {

   }

   /* HTC One portrait and landscape */
   @media screen 
     and (device-width: 360px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 3) {

   }

   /* HTC One portrait */
   @media screen 
     and (device-width: 360px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 3) 
     and (orientation: portrait) {

   }

   /* HTC One landscape */
   @media screen 
     and (device-width: 360px) 
     and (device-height: 640px) 
     and (-webkit-device-pixel-ratio: 3) 
     and (orientation: landscape) {
    section{
        background-image: url(./bg-pattern-top-desktop.svg);
        max-height: 100%;
        background-repeat: no-repeat;
        align-items: center;
    }
    
   .img-star p{
    /* display: inline; */
    font-size: 10px;
    }
    
    .top-layer{
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    
}

/* .heading{
    align-text: center;
} */
.reviews{
    flex-direction: column;
    align-items: center;
    margin:0;
    /* display: block; */
    margin-bottom: 2rem;
       
}
img{
    width: 3%;
}
    .heading h1{
        font-size: 30px;
    }
   
    .heading p{
        font-size: 10px;
        padding: 10px 0;
    }

    .rating{
        background-color:  hsl(300, 24%, 96%);
        padding: 5px;
        display: flex;
        flex-basis: 90%;
        border-radius: 10px;
        margin-bottom: 10px;
        position: relative;
        }
      
        /* .rating .img-star{
            width: 100%;
            margin-bottom: 10px;
            align-items: center;
        } */
    .bottom-layer{
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
    }
    .card{
        display: block;
    }
    .ratings-1{
        left: 0px;
    }
    .ratings-2{
        left: 0px;
    }
    .ratings-3{
        left: 0px;
    }
    .card_1{
        width: 100%;
        margin:0;

        }
    .card_2{
        width: 100%;
        margin:0;
        }
.card_3{
    width: 100%;
    margin: 0px;
    }
  }